.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: none;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"],.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin input:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.form-signin input[type="password"] {
    border-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"]:last-of-type {
    margin-bottom: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-signin .alert {
    display: none;
}
.form-signin.ng-invalid .alert {
    display: block;
}

.hidden {
    display: none;
}
.form-logout {
    display: none;
}
.visible {
    display: block !important;
}

form.ng-valid-unique  .msg-block {
    display: none !important;
}

form.ng-invalid-unique .msg-block {
    display: block !important;
}