<div class='row'>
	<div class='col-md-12'>
		<ul class='list-group'>
			<li class='list-group-item' ng-repeat="link in links">
				<div class='row'>
					<div class='col-md-12'>
						<a href="{{link.link}}">{{link.title}}</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>