<a href="/">Back</a><br/><br/>
<div class='row'>
    <div class='col-md-6'>
        <form name="myForm" ng-submit="submit()">
            <div class="row">
                <div class="col-md-5"><input ng-model='filterText' type="text" class="form-control"
                                             placeholder="Filter"></div>
                <div class="col-md-7">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
        </form>
    </div>
</div>

<hr>

<div class='row'>
    <div class='col-md-12'>
        <table class="table table-striped">
            <thead>
            <th>#</th>
            <th>username</th>
            <th>email</th>
            <th>created_at</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.attributes.username}}</td>
                    <td>{{user.attributes.email}}</td>
                    <td>{{user.attributes.created_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>