<a href="/">Back</a><br/>
<div ng-controller="loginCtrl">
    <div class="alert" role="alert" ng-class="alert">{{success}}</div>
    <form name="myForm" class="form-signin" ng-submit="submit()" ng-class="form">
        <h2 class="form-signin-heading text-center">{{title}}</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
               name="email" ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password"
               ng-model="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <form name="myForm" class="form-logout" ng-submit="logout()" ng-class="logoutForm">
        <button class="btn btn-lg btn-danger btn-block" type="submit">Logout</button>
    </form>
</div>