<a href="/">Back</a><br/>
<div ng-controller="registerCtrl">
    <div class="alert" role="alert" ng-class="alert">{{message}}</div>
    <form name="myForm" class="form-signin" ng-submit="submit()" ng-class="form" ng-model="myForm">
        <h2 class="form-signin-heading text-center">{{title}}</h2>
        <label for="inputName" class="sr-only">User name</label>
        <input type="text" id="inputName" class="form-control" placeholder="User name" required autofocus
               name="username" ng-model="username">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
               name="email" ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password"
               ng-model="password">
        <label for="inputrepeatPassword" class="sr-only">Repeat Password</label>
        <input type="password" id="inputrepeatPassword" class="form-control" placeholder="Repeat Password" required name="rpassword"
               ng-model="rpassword" password-match="password">
        <div class="msg-block alert alert-danger">Passwords don't match.</div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
    </form>
</div>